/** font **/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

/** functions **/

@function rem($px) {
    @return ($px / 14)+rem;
}

@mixin hover($opacity) {
    transition: opacity $trans;
    &:hover {
        opacity: $opacity;
    }
}


/** vars **/

$trans: .175s ease;
$termina: 'Montserrat',
sans-serif;

/** general styles **/

button {
    cursor: pointer;
}

.def-module {
    background: var(--text-color-black);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
    &__icon {
        position: absolute;
        left: 50%;
        top: -14px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 4px solid;
        background: var(--bg-main);
        transform: translateX(-50%) rotate(45deg);
        >* {
            transform: rotate(-45deg);
        }
    }
    &.has-icon {
        position: relative;
        padding-top: 43px
    }
}

.btn {
    height: 40px;
    &--trans {
        background-color: transparent;
        border: 1px solid #4F515D;
        color: var(--text-color-silver);
    }
}

.btn[disabled="true"] {
    background: #A6A7AC;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    &:before {
        content: '';
        width: 18px;
        height: 18px;
        display: inline-block;
        margin-right: 7px;
        background: url('../gifs/loader.svg') no-repeat center;
        background-size: 100% 100%
    }
}


/** module **/

@import "./modules/_titles.scss";
@import "./modules/_inputs.scss";
@import "./modules/_footer.scss";
@import "./modules/_topbar.scss";
@import "./modules/_stats.scss";
@import "./modules/_balance-widget";
@import "./modules/_status-widget";
@import "./modules/_invest";
@import "./modules/_briefcase";
@import "./modules/_briefcases-slider";
@import "./modules/_calculator";
@import "./modules/_history-widget";
@import "./modules/_modals";
@import "./modules/_form";
@import "./modules/_select";
@import "./modules/_info";

/** pages **/

@import "./pages/home";
@import "./pages/reg";