.briefcases-slider {
    &__arrow {
        width: 25px;
        height: 25px;
        background: var( --color-green-tow);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
        box-shadow: none;
        @include hover(.7);
        &.swiper-button-disabled {
            opacity: .2;
            pointer-events: none;
        }
        +* {
            margin-left: 15px;
        }
        svg {
            fill: var(--text-color-black);
        }
    }
    &__prev {
        transform: rotate(-90deg);
    }
    &__next {
        transform: rotate(90deg);
    }
}

.briefcases-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 180px;
    transition: background-color $trans, box-shadow $trans;
    position: relative;
    border: none;
    &:after {
        content: '';
        position: absolute;
        left: 2px;
        top: 2px;
        bottom: 2px;
        right: 2px;
        border: 2px dashed var(--color-green-tow);
        transition: transform $trans;
    }
    &:hover {
        background-color: var(--text-color-black);
        box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
        &:after {
            transform: scale(.95);
        }
    }
    >svg {
        margin-bottom: 18px;
        fill: var(--color-green-tow);
        transition: fill $trans;
    }
    span {
        font-weight: bold;
        font-size: var(--main-font-size);
        line-height: 140%;
        color: var(--color-green-tow);
        transition: color $trans;
    }
}