.calculator {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    &__subtitle,
    &__result {
        width: calc(100% - 170px);
    }
    &__input,
    &__submit {
        max-width: 170px;
        width: 100%;
    }
    &-range {
        width: 100%;
        margin: 20px 0 21px;
        position: relative;
        &__fill {
            position: absolute;
            bottom: 4px;
            left: 2px;
            height: 5px;
            background-color: var(--color-green-tow);
            width: 10%;
            position: absolute;
            border-radius: 29px 0 0 29px;
        }
        &__input {
            width: 100%;
            -webkit-appearance: none;
            width: 100%;
            height: 5px;
            border-radius: 29px;
            background: rgba(#D3D5DA, .15);
            outline: none;
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                border: 3px solid var(--color-green-tow);
                background-color: var(--text-color-black);
                box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.38);
                cursor: pointer;
                position: relative;
                z-index: 2;
            }
            &::-moz-range-thumb {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                border: 3px solid var(--color-green-tow);
                background: var(--text-color-black);
                box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.38);
                cursor: pointer;
            }
        }
        &-labels {
            display: flex;
            justify-content: space-between;
            span {
                font-size: var(--main-font-size);
                line-height: 140%;
                color: var(--text-color-blue);
            }
        }
    }
    &__subtitle {
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        color: var(--text-silver);
    }
    &__result {
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        color: var(--text-silver);
        &-holder {
            font-weight: bold;
            color: var(--color-green-tow);
        }
    }
}