.form {
    &-message {
        margin-bottom: 20px;
        background: var(--bg-red);
        border: 1px solid var(--text-color-black);
        position: relative;
        display: none;
        @media (max-width: 700px) {
            margin-bottom: 15px;
        }
        &.is-shown {
            display: block;
        }
        &:before {
            content: '';
            position: absolute;
            width: 4px;
            height: 20px;
            background: url('../svg/def/attention.svg') no-repeat center;
            left: 18px;
            top: 50%;
            transform: translateY(-50%);
        }
        &:after {
            content: '';
            width: 1px;
            left: 40px;
            position: absolute;
            top: 0;
            bottom: 0;
            background-color: var(--text-color-black);
        }
        padding: 10px 12px 10px 48px;
        font-weight: 600;
        font-size: var(--small-font-size);
        line-height: 140%;
        color: var(--text-color-black);
    }
    &__label {
        display: block;
        margin-bottom: 6px;
        font-weight: 600;
        font-size: var(--small-font-size);
        line-height: 140%;
        color: var(--text-silver);
        @media (max-width: 700px) {
            margin-bottom: 4px;
        }
    }
}

.withdraw-form {
    &.is-disabled {
        pointer-events: none;
    }
    &-manage {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 27px;
    }
    .form-input {
        margin-bottom: 20px;
        display: block;
        input {
            width: 100%;
        }
    }
}

.withdraw__receive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    span {
        font-size: var(--main-font-size);
        line-height: 140%;
        &:nth-child(1) {
            color: var(--text-color-silver);
        }
        &:nth-child(2) {
            font-weight: bold;
            color: var(--text-silver);
        }
    }
}

.topup-form {
    &.is-disabled {
        pointer-events: none;
    }
    &__submit {
        width: 100%;
        margin-top: 20px;
    }
}