.form {
    &-message {
        margin-bottom: 20px;
        background: #CF5959;
        border: 1px solid #21232C;
        position: relative;
        display: none;
        @media (max-width: 700px) {
            margin-bottom: 15px;
        }
        &.is-shown {
            display: block;
        }
        &:before {
            content: '';
            position: absolute;
            width: 4px;
            height: 20px;
            background: url('../../svg/attention.svg') no-repeat center;
            left: 18px;
            top: 50%;
            transform: translateY(-50%);
        }
        &:after {
            content: '';
            width: 1px;
            left: 40px;
            position: absolute;
            top: 0;
            bottom: 0;
            background-color: #21232F;
        }
        padding: 10px 12px 10px 48px;
        font-weight: 600;
        font-size: var(--small-font-size);
        line-height: 140%;
        color: #21232F;
    }
    &__label {
        display: block;
        margin-bottom: 6px;
        font-weight: 600;
        font-size: var(--small-font-size);
        line-height: 140%;
        color: var(--text-silver);
        @media (max-width: 700px) {
            margin-bottom: 4px;
        }
    }
}