.history-widget {
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 297px;
    @media (max-width: 1060px) {
        max-width: 100%;
        min-height: unset;
        padding: 18px 20px;
    }
    &-list {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        @media (max-width: 1060px) {
            justify-content: normal;
            flex-grow: unset;
        }
    }
    &__link {
        font-weight: 600;
        font-size: var(--main-font-size);
        line-height: 140%;
        text-decoration-line: underline;
        color: var(--color-green-tow);
        @include hover(.8);
        margin-top: 35px;
        @media (max-width: 1060px) {
            margin-top: 20px;
        }
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        @media (min-width: 1061px) {
            margin-top: 15px;
            &:first-child {
                margin-top: 0;
            }
        }
        @media (max-width: 1060px) {
            margin-bottom: 15px;
            &:nth-child(5) {
                margin-bottom: 0;
            }
            &:nth-child(n+6) {
                display: none;
            }
        }
        span {
            font-size: var(--main-font-size);
            line-height: 140%;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 50%;
            &:nth-child(1) {
                padding-right: 5px;
                color: var(--text-color-silver);
            }
            &:nth-child(2) {
                font-weight: 600;
            }
        }
        &.is-good span:nth-child(2) {
            color: var(--color-green-tow);
        }
        &.is-bad span:nth-child(2) {
            color: var(--bg-red);
        }
    }
    &__empty {
        margin: auto;
        text-align: center;
        >img {
            margin-bottom: 10px;
        }
        &-title {
            margin-bottom: 4px;
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
            color: var(--text-silver);
        }
        &-subtitle {
            font-size: var(--main-font-size);
            line-height: 140%;
            color: var(--text-color-silver);
        }
    }
}