.history-widget {
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 297px;
    &-list {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__link {
        font-weight: 600;
        font-size: var(--main-font-size);
        line-height: 140%;
        text-decoration-line: underline;
        color: var(--color-green-tow);
        @include hover(.8);
        margin-top: 35px;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        span {
            font-size: var(--main-font-size);
            line-height: 140%;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 50%;
            &:nth-child(1) {
                padding-right: 5px;
                color: var(--text-color-silver);
            }
            &:nth-child(2) {
                font-weight: 600;
            }
        }
        &.is-good span:nth-child(2) {
            color: var(--color-green-tow);
        }
        &.is-bad span:nth-child(2) {
            color: var(--bg-red);
        }
    }
}