.def-input {
    text-align: center;
    background: #343647;
    border: 1px solid #21232C;
    box-sizing: border-box;
    height: 40px;
    padding: 0 15px;
    font-size: var(--main-font-size);
    line-height: 105%;
    color: var(--text-silver);
    width: 100%;
    border: 1px solid transparent;
    transition: box-shadow $trans, border-color $trans;
    &[data-error="true"] {
        border-color: var(--bg-red) !important;
        color: var(--bg-red) !important;
    }
    @media (max-width: 600px) {
        text-align: unset;
    }
    &:hover {
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
    }
    &:focus {
        outline: none;
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
        border-color: var(--color-green-tow);
    }
}

.custom-input {
    height: 40px;
    padding: 0 20px;
    font-size: var(--main-font-size);
    line-height: 105%;
    color: var(--text-silver);
    background: var(--bg-main);
    border: 1px solid var(--text-color-black);
    transition: border-color $trans;
    &[data-error="true"] {
        border-color: var(--bg-red) !important;
        color: var(--bg-red) !important;
    }
    &:disabled {
        border: 1px solid var(--text-color-silver);
        color: var(--text-color-silver);
    }
    &:focus {
        border-color: var(--color-green-tow);
        outline: none;
    }
}

.custom-checkbox {
    display: inline-block;
    flex-shrink: 0;
    width: 17px;
    height: 17px;
    position: relative;
    overflow: hidden;
    input {
        -webkit-appearance: none;
        appearance: none;
        width: 17px;
        height: 17px;
        margin: 0;
        &:checked {
            ~.custom-checkbox__bg {
                background-color: var(--color-green-tow);
                border-color: var(--color-green-tow);
            }
            ~.custom-checkbox__check {
                opacity: 1;
            }
        }
        &:focus~.custom-checkbox__bg {
            outline: auto;
        }
    }
    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #343647;
        border: 1px solid var(--text-color-black);
        transition: background-color $trans, border-color $trans;
    }
    &__check {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity $trans;
    }
}