.invest {
    display: grid;
    grid-template-columns: 1.65fr 1fr;
    min-height: 180px;
    &-manage {
        padding: 20px;
        border-right: 1px solid var(--bg-main);
        display: grid;
        align-items: center;
        grid-template-columns: 140px 1fr;
        gap: 20px 0;
        &__label {
            font-size: var(--main-font-size);
            line-height: 120%;
            color: var(--text-color-silver);
        }
        &-btns {
            display: flex;
            grid-column: 1/3;
        }
        &__submit {
            flex-grow: 1;
            margin-right: 10px;
        }
        &__more {
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid var(--color-green-tow);
            padding: 0;
            background-color: var(--text-color-black);
            @include hover(.8);
        }
        &__result {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: var(--main-font-size);
            line-height: 140%;
            color: var(--text-silver);
            &-holder {
                font-weight: 600;
            }
        }
    }
    &-course {
        padding: 20px;
        display: flex;
        flex-direction: column;
        &__title {
            width: 100%;
            padding-bottom: 20px;
            font-family: $termina;
            font-weight: bold;
            font-size: var(--main-font-size);
            line-height: 140%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: var(--text-silver);
            border-bottom: 1px solid var(--bg-main);
        }
        &-list {
            margin-top: auto;
            &__row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &.is-good {
                    span:nth-child(2) {
                        color: var(--color-green-tow);
                        svg {
                            fill: var(--color-green-tow);
                        }
                    }
                }
                &.is-bad {
                    span:nth-child(2) {
                        color: var(--bg-red);
                        svg {
                            transform: rotate(180deg);
                            fill: var(--bg-red);
                        }
                    }
                }
                span {
                    &:nth-child(1) {
                        font-size: var(--main-font-size);
                        line-height: 140%;
                        color: var(--text-color-silver);
                    }
                    &:nth-child(2) {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        font-weight: 600;
                        font-size: var(--main-font-size);
                        line-height: 120%;
                        svg {
                            margin-left: 5px;
                        }
                    }
                }
                +* {
                    margin-top: 12px;
                }
            }
        }
    }
}