.status-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .def-module__icon {
        top: -10px;
        border-color: var(--text-silver);
    }
    &__title {
        display: flex;
        align-items: center;
        &-main {
            font-family: $termina;
            font-weight: bold;
            font-size: 22px;
            line-height: 140%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: var(--text-silver);
            @media (max-width: 600px) {
                font-size: 18px;
            }
        }
        &-more {
            width: 20px;
            height: 20px;
            background: none;
            border: none;
            margin: 0 -25px 0 5px;
            padding: 0;
            @include hover(.5);
        }
    }
    &__subtitle {
        font-size: var(--small-font-size);
        line-height: 140%;
        color: var(--text-color-blue);
    }
    &-info {
        width: 100%;
        display: grid;
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;
        margin-top: 21px;
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: -15px;
            transform: translateX(-50%) rotate(45deg);
            width: 22px;
            height: 22px;
            background: var(--text-color-black);
        }
        &__block {
            padding: 9px;
            text-align: center;
            &:nth-child(1) {
                background-color: var(--color-green-tow);
            }
            &:nth-child(2) {
                background-color: var(--bg-yellow);
            }
            span {
                display: block;
                line-height: 140%;
                color: var(--text-color-black);
                &:nth-child(1) {
                    font-family: $termina;
                    font-weight: bold;
                    font-size: 24px;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    @media (max-width: 600px) {
                        font-size: 18px;
                    }
                }
                &:nth-child(2) {
                    font-size: 12px;
                    color: #21232F;
                }
            }
        }
    }
}