.stats {
    @media (max-width: 600px) {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 11px;
            height: 37px;
            width: 20px;
            pointer-events: none;
            background: linear-gradient(270deg, #21232F 0%, rgba(33, 35, 47, 0) 100%);
            z-index: 1;
        }
    }
    &-tabs {
        padding: 20px;
        border-bottom: 2px solid var(--bg-main);
        display: flex;
        @media (max-width: 1060px) {
            padding: 10px 20px;
        }
        @media (max-width: 600px) {
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            &::-webkit-scrollbar {
                display: none;
            }
            &:after {
                content: '';
                min-width: 20px;
            }
        }
        &__item {
            padding: 0;
            text-align: left;
            background-color: transparent;
            border: none;
            position: relative;
            +* {
                margin-left: 40px;
                @media (max-width: 1060px) {
                    margin-left: 20px;
                }
            }
            &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: calc(100% + 20px);
                height: 2px;
                background-color: var(--color-green-tow);
                opacity: 0;
                transition: opacity .175s ease;
                @media (max-width: 1060px) {
                    top: calc(100% + 10px);
                }
                @media (max-width: 600px) {
                    top: calc(100% + 9px);
                }
            }
            span {
                display: block;
                &:nth-child(1) {
                    font-size: var(--small-font-size);
                    line-height: 140%;
                    color: var( --text-silver);
                }
                &:nth-child(2) {
                    margin-top: 5px;
                    font-weight: bold;
                    font-size: 18px;
                    font-family: $termina;
                    line-height: 140%;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    color: var(--text-color-silver);
                    transition: color $trans;
                    @media (max-width: 1060px) {
                        font-size: var(--main-font-size);
                    }
                }
            }
            &.is-active {
                pointer-events: none;
                &:after {
                    opacity: 1;
                }
                span {
                    &:nth-child(2) {
                        color: var(--color-green-tow);
                    }
                }
            }
            &.is-blocked {
                pointer-events: none;
                &:after {
                    display: none;
                }
                span:nth-child(2) {
                    color: #4F515D;
                }
            }
            &.is-disabled {
                pointer-events: none;
            }
            &:hover span:nth-child(2) {
                color: var(--color-green-tow);
            }
        }
    }
    &-chart {
        padding-top: 20px;
        overflow: hidden;
        position: relative;
        &__holder {
            height: 270px;
            @media (max-width: 1060px) {
                height: 255px;
            }
        }
        &__error {
            position: absolute;
            height: 270px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10000;
            background: var(--text-color-black);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-weight: 600;
            font-size: var(--main-font-size);
            line-height: 140%;
            letter-spacing: 0.04em;
            color: var(--bg-red);
            @media (max-width: 1060px) {
                height: 255px;
            }
            @media (max-width: 600px) {
                font-size: var(--small-font-size);
                padding: 20px 30px;
            }
            &.is-hidden {
                display: none;
            }
        }
    }
}