:root {
    --transition-all: 0.3s;
    --z-index: 10;
    --bg-red: #CF5959;
    --bg-yellow: #F2DC15;
    --text-color-green: #47A68A;
    --color-green-tow: #589585;
    --text-color-blue: #878994;
    --main-font-size: 14px;
    --small-font-size: 12px;
    --big-size: 18px;
    --bg-main: #2A2C3A;
    --text-color-silver: #A6A7AC;
    --text-silver: #D3D5DA;
    --text-color-black: #21232F;
    --text-color-white: #ffffff;
}