@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI-Light.eot');
    src: local('Segoe UI Light'), local('SegoeUI-Light'), url('SegoeUI-Light.eot?#iefix') format('embedded-opentype'), url('SegoeUI-Light.woff') format('woff'), url('SegoeUI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI-SemiBold.eot');
    src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'), url('SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'), url('SegoeUI-SemiBold.woff') format('woff'), url('SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI.eot');
    src: local('Segoe UI'), local('SegoeUI'), url('SegoeUI.eot?#iefix') format('embedded-opentype'), url('SegoeUI.woff') format('woff'), url('SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI-Bold.eot');
    src: local('Segoe UI Bold'), local('SegoeUI-Bold'), url('SegoeUI-Bold.eot?#iefix') format('embedded-opentype'), url('SegoeUI-Bold.woff') format('woff'), url('SegoeUI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI-Italic.eot');
    src: local('Segoe UI Italic'), local('SegoeUI-Italic'), url('SegoeUI-Italic.eot?#iefix') format('embedded-opentype'), url('SegoeUI-Italic.woff') format('woff'), url('SegoeUI-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}