.binary {
    @media (max-width: 1270px) {
        overflow: hidden;
    }
    @media (max-width: 850px) {
        padding: 30px 16px 0;
    }
    .binary__title {
        margin-bottom: 20px;
    }
    &-grid {
        &-row {
            display: flex;
            justify-content: center;
            +* {
                margin-top: 40px;
            }
            &.r1 {
                .binary__item {
                    min-width: 255px;
                    height: 100px;
                    @media (max-width: 600px) {
                        min-width: 136px;
                        height: 60px;
                    }
                    &-inner {
                        padding-bottom: 0;
                    }
                    &-square {
                        top: 50%;
                        transform: translateY(calc(-50% + 3px)) rotate(45deg);
                        left: -5px;
                        &:nth-child(2) {
                            left: auto;
                            right: -5px;
                        }
                    }
                }
            }
            &.r2 {
                justify-content: space-around;
                @media (max-width: 340px) {
                    justify-content: space-between;
                }
                .binary__item {
                    width: 223px;
                    height: 100px;
                    position: relative;
                    @media (max-width: 600px) {
                        width: 136px;
                        height: 60px;
                    }
                    &-line {
                        height: 90px;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: 100%;
                        @media (max-width: 700px) {
                            left: 40px;
                            transform: none;
                        }
                        @media (max-width: 600px) {
                            height: 69px;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 100%;
                            height: 2px;
                            background-color: var(--text-color-black);
                            width: 110px;
                        }
                    }
                    &-square {
                        @media (max-width: 700px) {
                            &:nth-child(1) {
                                left: 41px;
                            }
                        }
                    }
                    &:nth-child(2) {
                        .binary__item-line {
                            &:after {
                                left: auto;
                                right: 100%;
                            }
                            @media (max-width: 700px) {
                                left: auto;
                                right: 40px;
                            }
                        }
                        @media (max-width: 700px) {
                            .binary__item-square:nth-child(1) {
                                left: auto;
                                right: 31px;
                            }
                        }
                    }
                    &-inner {
                        padding-bottom: 0;
                    }
                }
            }
            &.r3 {
                justify-content: space-between;
                .binary__item {
                    width: calc(25% - 15px);
                    height: 100px;
                    @media (max-width: 700px) {
                        &-square {
                            &:nth-child(2) {
                                display: none;
                            }
                        }
                    }
                    @media (max-width: 600px) {
                        height: unset;
                    }
                    &-text {
                        @media (max-width: 600px) {
                            display: none;
                        }
                    }
                    &-inner {
                        padding-bottom: 0;
                        @media (max-width: 600px) {
                            padding-bottom: 100%;
                        }
                    }
                }
            }
            &.r4 {
                justify-content: space-between;
                @media (max-width: 700px) {
                    display: none;
                }
                .binary__item {
                    width: calc(12.5% - 17.5px);
                    @media (max-width: 1060px) {
                        &-square {
                            &:nth-child(2) {
                                display: none;
                            }
                        }
                    }
                }
            }
            &.r5 {
                justify-content: space-between;
                @media (max-width: 1060px) {
                    display: none;
                }
                .binary__item {
                    width: calc(6.25% - 18.75px);
                }
            }
        }
    }
    &__item {
        background: var(--bg-main);
        border: 2px dashed var(--text-color-black);
        @media (max-width: 600px) {
            border-width: 1px;
        }
        &[data-status=me],
        &[data-status=active],
        &[data-status=invited] {
            &.is-colored .binary__item-line {
                background-color: var(--color-green-tow);
                &:after {
                    background-color: var(--color-green-tow);
                }
            }
        }
        &-line {
            position: absolute;
            width: 2px;
            background-color: var(--text-color-black);
            z-index: -1;
            transition: background-color $trans;
            &:after {
                transition: inherit;
            }
        }
        &-center {
            width: 2px;
            height: 2px;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
        &-inner {
            width: 100%;
            height: 100%;
            position: relative;
            background: none;
            padding: 0;
            display: block;
            border: none;
            padding-bottom: calc(100% - 4px);
            &:focus,
            &:active {
                outline: none;
                .tip {
                    opacity: 1;
                }
            }
            @media (max-width: 1060px) {
                &:hover .tip {
                    opacity: 1;
                }
            }
            svg {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                max-width: calc(100% - 10px);
                max-height: calc(100% - 18px);
                @media (max-width: 600px) {
                    max-width: 18px;
                    max-height: 18px;
                }
            }
        }
        &-square {
            position: absolute;
            z-index: 1;
            left: 50%;
            width: 10px;
            background: var(--bg-main);
            height: 10px;
            border: 2px solid var(--text-color-black);
            &:nth-child(1) {
                top: 0;
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &:nth-child(2) {
                bottom: 0;
                transform: translate(-50%, 50%) rotate(45deg);
            }
        }
        &-text {
            position: absolute;
            left: 10px;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            @media (max-width: 600px) {
                left: 5px;
                right: 5px;
            }
            +svg {
                @media (min-width: 601px) {
                    display: none;
                    +.tip {
                        display: none;
                    }
                }
            }
            span {
                display: block;
                line-height: 140%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                &:nth-child(1) {
                    margin-bottom: 6px;
                    font-weight: 600;
                    font-size: var(--main-font-size);
                    color: var(--text-silver);
                    @media (max-width: 600px) {
                        font-size: var(--small-font-size);
                        margin-bottom: 2px;
                    }
                }
                &:nth-child(2) {
                    font-size: var(--small-font-size);
                    color: var(--text-color-silver);
                }
            }
        }
        .tip {
            bottom: calc(100% + 20px);
        }
        &[data-status=me] {
            border-color: var(--color-green-tow);
            background: var(--text-color-black);
            .binary__item-square {
                border-color: var(--color-green-tow);
                background: var(--text-color-black);
            }
            .binary__item-inner svg {
                fill: var(--color-green-tow);
            }
        }
        &[data-status=active] {
            border-color: #70B4CA;
            background: var(--text-color-black);
            .binary__item-square {
                border-color: #70B4CA;
                background: var(--text-color-black);
            }
            .binary__item-inner svg {
                fill: #70B4CA;
            }
        }
        &[data-status=invited] {
            border-color: var(--bg-yellow);
            background: var(--text-color-black);
            .binary__item-square {
                border-color: var(--bg-yellow);
                background: var(--text-color-black);
            }
            .binary__item-inner svg {
                fill: var(--bg-yellow);
            }
        }
        &[data-status=locked] {
            border-color: var(--bg-red);
            background: var(--text-color-black);
            .binary__item-square {
                border-color: var(--bg-red);
                background: var(--text-color-black);
            }
            .binary__item-inner svg {
                fill: var(--bg-red);
            }
        }
        &[data-status=active],
        &[data-status=invited] {
            .tip {
                p {
                    +p {
                        margin-top: 0;
                    }
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
        @media (max-width: 600px) {
            &:nth-child(1) .tip {
                left: 0;
                transform: translate(0, -5px);
                &:after {
                    left: 28px;
                }
            }
            &:last-child .tip {
                right: 0;
                left: auto;
                transform: translate(0, -5px);
                &:after {
                    left: auto;
                    right: 8px;
                }
            }
        }
    }
    &-explanation {
        margin-top: 30px;
        padding: 20px 13px 5px 20px;
        display: flex;
        @media (max-width: 600px) {
            display: block;
            padding: 20px;
        }
        &__title {
            width: 130px;
            padding-right: 23px;
            flex-shrink: 0;
            font-size: var(--small-font-size);
            line-height: 140%;
            color: var(--text-color-silver);
            @media (max-width: 600px) {
                margin-bottom: 15px;
                padding-right: 0;
            }
        }
        &-list {
            flex-grow: 1;
            display: flex;
            flex-wrap: wrap;
            @media (max-width: 600px) {
                display: block;
            }
        }
        &__item {
            margin: 0 6px 15px;
            flex-shrink: 0;
            min-width: fit-content;
            display: flex;
            align-items: center;
            font-size: var(--small-font-size);
            line-height: 140%;
            color: var(--text-silver);
            @media (max-width: 600px) {
                margin: 0;
                +* {
                    margin-top: 15px;
                }
            }
            span {
                width: 18px;
                height: 18px;
                background: #2A2C3A;
                margin-right: 5px;
                border: 1px dashed var(--text-color-black);
            }
            &[data-status=me] span {
                border-color: var(--color-green-tow);
                background: var(--text-color-black);
            }
            &[data-status=active] span {
                border-color: #70B4CA;
                background: var(--text-color-black);
            }
            &[data-status=invited] span {
                border-color: var(--bg-yellow);
                background: var(--text-color-black);
            }
            &[data-status=locked] span {
                border-color: var(--bg-red);
                background: var(--text-color-black);
            }
        }
    }
}