.briefcases-list {
    @media (max-width: 850px) {
        padding: 30px 16px 0;
    }
    &-inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 28px;
        @media (max-width: 850px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            .briefcase,
            .briefcases-empty {
                height: 230px;
            }
        }
        @media (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 16px;
            .briefcase {
                &-overall__summ {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                &-income {
                    font-size: 16px;
                }
            }
        }
        .briefcases-empty {
            order: 1;
            background-color: transparent;
        }
    }
}