.home {
    display: grid;
    grid-template-columns: 2.1fr 1fr;
    gap: 40px 28px;
    @media (max-width: 1060px) {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }
    @media (max-width: 850px) {
        padding: 30px 16px 0;
    }
    .w65 {
        grid-column: 1;
    }
    .w35 {
        grid-column: 2;
    }
    &-stats {
        @media (max-width: 1060px) {
            width: 100%;
            margin-bottom: 40px;
        }
    }
    &-balance {
        @media (max-width: 1060px) and (min-width: 601px) {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 30px;
            margin-bottom: 40px;
            .section__title {
                display: none;
            }
        }
        @media (max-width: 600px) {
            margin-bottom: 40px;
            .section__title {
                display: none;
            }
            width: 100%;
        }
        .balance-widget {
            margin-bottom: 26px;
            @media (max-width: 1060px) {
                margin-bottom: 0;
            }
            @media (max-width: 600px) {
                margin-bottom: 40px;
            }
        }
    }
    &-invest {
        @media (max-width: 1060px) {
            width: 100%;
            margin-bottom: 40px;
        }
    }
    &-briefcases {
        overflow: hidden;
        position: relative;
        height: 225px;
        @media (max-width: 1060px) {
            width: calc(50% - 15px);
            margin-right: 30px;
            height: unset;
            .briefcase {
                min-height: 230px;
            }
        }
        @media (max-width: 600px) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 40px;
        }
        .briefcases-slider {
            &-controls {
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                align-items: center;
            }
        }
    }
    &-history {
        @media (max-width: 1060px) {
            width: calc(50% - 15px);
        }
        @media (max-width: 600px) {
            width: 100%;
        }
    }
    &-calculator {
        @media (max-width: 1060px) {
            order: 2;
            margin-top: 40px;
        }
    }
}