.partners {
    .partners__title {
        margin-bottom: 20px;
    }
    @media (max-width: 850px) {
        padding: 30px 16px 0;
    }
    &-search {
        margin-bottom: 20px;
        position: relative;
        &__input {
            height: 60px;
            width: 100%;
            background: #343647;
            border: 1px solid var(--text-color-black);
            padding: 0 80px 0 20px;
            font-size: var(--main-font-size);
            line-height: 140%;
            color: var(--text-color-white);
            transition: border-color $trans;
            @media (max-width: 600px) {
                height: 50px;
                padding-right: 70px;
            }
            &::placeholder {
                color: var(--text-color-silver);
            }
            &:focus {
                outline: none;
                border-color: var( --color-green-tow);
            }
        }
        &__submit {
            position: absolute;
            height: 58px;
            width: 59px;
            position: absolute;
            top: 1px;
            right: 1px;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--bg-main);
            transition: filter $trans;
            @media (max-width: 600px) {
                height: 48px;
                width: 49px;
            }
            &:hover,
            &:focus,
            &:active {
                filter: brightness(.9);
            }
        }
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 28px;
        @media (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 500px) {
            grid-template-columns: 1fr;
            gap: 15px;
        }
    }
    &-sort {
        display: flex;
        margin: 0 -10px 18px;
        flex-wrap: wrap;
        @media (max-width: 850px) {
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: nowrap;
            margin: 0 -16px 20px;
            &:after,
            &::before {
                content: '';
                min-width: 16px;
                display: inline-block;
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
        &__item {
            margin: 0 10px 10px;
            padding: 3px 8px 3px 3px;
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
            flex-shrink: 0;
            user-select: none;
            @media (max-width: 850px) {
                margin: 0 20px 0 0;
                &:last-child {
                    margin-right: 0;
                }
            }
            span {
                font-size: var(--small-font-size);
                color: var(--text-silver);
                line-height: 140%;
                transition: color $trans;
                &:nth-of-type(1) {
                    margin-right: 12px;
                    padding: 3px 7px 4px;
                    font-weight: 700;
                    text-align: center;
                    background: var(--bg-main);
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        top: 0;
                        background: var(--text-color-black);
                        z-index: -1;
                        transition: background-color $trans;
                    }
                }
                &:nth-of-type(2) {
                    font-weight: 600;
                    margin-top: -1px;
                }
            }
            &:hover,
            &:focus {
                input:not(:checked):not(:disabled):not(:read-only)~span {
                    color: var( --color-green-tow);
                }
            }
            input {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                appearance: none;
                -webkit-appearance: none;
                margin: 0;
                &:checked {
                    +span {
                        &:nth-of-type(1) {
                            color: var( --color-green-tow);
                            &:before {
                                background-color: var( --color-green-tow);
                            }
                        }
                    }
                }
                &:disabled,
                &:read-only {
                    pointer-events: none;
                    ~span {
                        &:nth-of-type(1) {
                            &:before {
                                background-color: #4F515D;
                            }
                        }
                        &:nth-of-type(2) {
                            color: var(--text-color-silver);
                        }
                    }
                }
            }
        }
    }
    &-item {
        display: flex;
        flex-direction: column;
        &-heading {
            position: relative;
            padding: 15px 20px 15px 74px;
            border-bottom: 1px solid var(--bg-main);
            min-height: 75px;
            margin-bottom: 20px;
            &__icon {
                padding: 4px;
                position: absolute;
                top: 50%;
                left: 15px;
                transform: translateY(-50%);
                width: 45px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
            }
            &__title {
                margin-bottom: 4px;
                font-weight: 600;
                font-size: 16px;
                line-height: 140%;
                color: var(--text-silver);
            }
            &__name {
                font-size: var(--main-font-size);
                line-height: 140%;
                color: var(--text-color-silver);
            }
        }
        &__block {
            padding: 0 20px 0 63px;
            position: relative;
            min-height: 40px;
            &:before {
                content: '';
                position: absolute;
                left: 30px;
                top: 50%;
                width: 14px;
                height: 25px;
                background: url('../svg/def/dollar.svg') no-repeat center;
                background-size: 100% 100%;
                transform: translateY(-50%);
            }
            span {
                display: block;
                font-size: var(--main-font-size);
                line-height: 140%;
                &:nth-of-type(1) {
                    font-weight: bold;
                    color: var(--text-silver);
                    margin-bottom: 2px;
                }
                &:nth-of-type(2) {
                    color: var(--text-color-silver);
                }
            }
            +.partners-item__block {
                margin-top: 14px;
                &:nth-last-child(2) {
                    margin-bottom: 20px;
                }
            }
        }
        &__btn {
            margin: auto 20px 20px;
            width: calc(100% - 40px);
        }
    }
    &-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 65px;
        text-align: center;
        @media (max-width: 850px) {
            margin-top: 40px;
        }
        img {
            margin-bottom: 20px;
        }
        &__title {
            margin-bottom: 15px;
            font-weight: bold;
            font-size: var(--main-font-size);
            line-height: 140%;
            color: var(--text-silver);
        }
        &__subtitle {
            max-width: 225px;
            font-size: var(--small-font-size);
            line-height: 140%;
            color: var(--text-silver);
            a {
                color: var( --color-green-tow);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}