.programm {
    display: grid;
    grid-template-columns: 1fr 22.8% 31%;
    gap: 30px;
    overflow: hidden;
    @media (max-width: 1000px) {
        grid-template-columns: 1fr 192px;
    }
    @media (max-width: 850px) {
        padding: 30px 16px 0;
    }
    @media (max-width: 600px) {
        display: block;
        >*+* {
            margin-top: 30px;
        }
    }
    .programm__title {
        grid-column: 1/4;
        margin-bottom: -10px;
        @media (max-width: 1000px) {
            grid-column: 1/3;
        }
    }
    &-status {
        grid-row: 2/4;
    }
    &-income {
        grid-column: 2/4;
        @media (max-width: 1000px) {
            grid-column: 1/3;
            grid-row: 4;
        }
    }
    &-chart {
        grid-column: 1/4;
        padding: 20px;
        margin-top: 10px;
        @media (max-width: 1000px) {
            grid-column: 1/3;
        }
        @media (max-width: 600px) {
            margin-top: 30px;
            padding: 15px 0 0;
        }
        .stats-tabs {
            padding: 0 0 20px;
            @media (max-width: 600px) {
                padding: 0 0 10px;
                &:before {
                    content: '';
                    min-width: 15px;
                }
            }
            span:nth-child(1) {
                font-weight: 500;
                font-size: var(--main-font-size);
            }
            &__item.is-active span:nth-child(1) {
                color: var(--color-green-tow);
                font-weight: 600;
            }
        }
    }
    &__subtitle {
        padding: 15px 20px;
        display: flex;
        align-items: center;
        margin: 0;
        border-bottom: 1px solid var(--bg-main);
        font-weight: 600;
        font-size: var(--main-font-size);
        line-height: 140%;
        color: var(--text-silver);
        @media (max-width: 600px) {
            padding: 15px;
        }
        img {
            margin-right: 10px;
        }
    }
    &-status {
        &-actual {
            padding: 20px;
            border-bottom: 1px solid var(--bg-main);
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;
            @media (max-width: 600px) {
                padding: 15px;
            }
        }
        &__current,
        &__next {
            width: 50%;
            span {
                &:nth-child(1) {
                    font-size: var(--main-font-size);
                    line-height: 140%;
                    color: var(--text-color-silver);
                    display: block;
                    margin-bottom: 4px;
                    @media (max-width: 600px) {
                        font-size: var(--small-font-size);
                    }
                }
                &:nth-child(2) {
                    font-size: 18px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    @media (max-width: 600px) {
                        font-size: var(--main-font-size);
                    }
                    button {
                        padding: 0;
                        border: none;
                        background: none;
                        width: 18px;
                        height: 18px;
                        @include hover(.7);
                        margin-left: 6px;
                        svg {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
        &__next {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
            span:nth-child(2) button {
                margin-left: 0;
                margin-right: 6px;
            }
        }
        &__tip {
            margin-left: 10px;
            width: 18px;
            height: 18px;
            position: relative;
            padding: 0;
            border: none;
            background: none;
            text-align: unset;
            svg {
                width: 18px;
                height: 18px;
            }
            .tip {
                @media (max-width: 600px) {
                    max-width: calc(100vw - 32px);
                    left: auto;
                    right: -20px;
                    transform: translate(0, -10px);
                    &:after {
                        right: 20px;
                        left: auto;
                        transform: translate(0, 0);
                    }
                }
            }
            &.tip--holder {
                @media (max-width: 600px) {
                    &:hover .tip, &:focus .tip {
                        transform: translate(0, 0) !important;
                    }
                }
            }
        }
        &__bar,
        &__lvls-inner {
            width: calc(100% - 28px);
        }
        &__lvls {
            width: 100%;
        }
        &__bar {
            background: var(--bg-main);
            height: 11px;
            position: relative;
            margin: 20px 0;
            span {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
            }
            +.programm-status__tip {
                margin: 17px 0 17px 10px;
            }
        }
        &__lvls {
            font-size: var(--main-font-size);
            line-height: 140%;
            color: var(--text-color-silver);
            margin-bottom: 17px;
            span {
                font-weight: 600;
                color: var(--text-color-white);
            }
            &-inner {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 9px;
                +.programm-status__tip {
                    margin-top: -3px;
                }
                span {
                    height: 11px;
                    background: var(--bg-main);
                }
            }
        }
        &__row {
            margin-bottom: 20px;
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 600px) {
                padding: 0 15px;
                &:last-child {
                    padding-bottom: 20px;
                }
            }
            span {
                font-size: var(--main-font-size);
                line-height: 140%;
                &:nth-child(1) {
                    color: var(--text-color-silver);
                }
                &:nth-child(2) {
                    font-weight: bold;
                    color: var(--text-silver);
                }
            }
        }
    }
    &-income {
        &-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            height: calc(100% - 51px);
            @media (max-width: 600px) {
                height: unset;
                grid-template-columns: 1fr;
            }
        }
        &__block {
            border-right: 1px solid var(--bg-main);
            height: 100%;
            padding: 20px;
            @media (max-width: 600px) {
                border-right: none;
                padding: 15px;
                border-bottom: 1px solid var(--bg-main);
                &:last-child {
                    border-bottom: none;
                }
            }
            &:nth-child(3n) {
                border-right: none;
            }
        }
        &__item {
            span {
                display: block;
                line-height: 140%;
                color: var(--text-silver);
                &:nth-child(1) {
                    font-size: var(--small-font-size);
                }
                &:nth-child(2) {
                    font-weight: bold;
                    font-size: 18px;
                    color: var(--color-green-tow);
                    @media (max-width: 600px) {
                        font-size: 16px;
                    }
                }
            }
            +* {
                margin-top: 13px;
                @media (max-width: 600px) {
                    margin-top: 10px;
                }
            }
        }
    }
    &-link {
        &-inner {
            padding: 20px;
            display: flex;
            flex-direction: column;
            height: calc(100% - 51px);
            @media (max-width: 600px) {
                padding: 15px;
                height: unset;
            }
        }
        &__holder {
            word-break: break-word;
            margin-bottom: 15px;
            font-size: var(--small-font-size);
            line-height: 140%;
            color: var(--text-silver);
        }
        &__copy {
            width: 100%;
            @media (min-width: 601px) {
                margin-top: auto;
            }
        }
    }
    &-partner {
        &__inner {
            padding: 20px;
            font-size: var(--small-font-size);
            line-height: 140%;
            color: var(--text-silver);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            height: calc(100% - 51px);
            @media (max-width: 600px) {
                padding: 15px;
                height: unset;
            }
            span {
                margin-top: 3px;
                font-size: var(--main-font-size);
            }
        }
    }
}