.settings {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 30px;
    align-items: flex-start;
    @media (max-width: 1060px) {
        display: block;
    }
    @media (max-width: 850px) {
        padding: 30px 16px 0;
    }
    &__title {
        grid-column: 1/3;
        @media (max-width: 1060px) {
            display: none !important;
        }
    }
    &-sessions {
        grid-column: 2;
        @media (max-width: 1060px) {
            margin-top: 30px;
        }
    }
    &-info {
        padding: 20px;
        @media (max-width: 1060px) {
            margin-bottom: 20px;
        }
        @media (max-width: 1060px) and (min-width: 700px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0 18px;
            >*:not(.info-block) {
                grid-column: 1/4;
            }
        }
        @media (max-width: 700px) {
            padding: 15px;
            hr {
                margin: 15px -15px;
            }
        }
        .info__subdescr {
            margin-bottom: 0;
        }
        &-heading {
            display: flex;
            align-items: center;
            &__icon {
                width: 35px;
                height: 35px;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 15px;
            }
            &__name {
                font-weight: bold;
                font-size: var(--main-font-size);
                line-height: 140%;
                color: var(--text-silver);
            }
        }
    }
    &-manage {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        @media (max-width: 700px) {
            display: block;
            >* {
                +* {
                    margin-top: 20px;
                }
            }
        }
        &-block {
            padding: 10px 10px 10px 20px;
            display: flex;
            align-items: center;
            background: var(--text-color-black);
            min-height: 65px;
            overflow: hidden;
            &:not(.w50) {
                grid-column: 1/3;
            }
            &__icon {
                width: 45px;
                height: 45px;
                flex-shrink: 0;
                margin: 0 10px 0 -10px;
                @media (max-width: 700px) {
                    width: 38px;
                    height: 38px;
                    img {
                        width: inherit;
                        height: inherit;
                    }
                }
            }
            &__info {
                margin-right: 10px;
                flex-grow: 1;
                @media (max-width: 700px) {
                    max-width: calc(100% - 90px);
                }
                span {
                    display: block;
                    line-height: 140%;
                    &:nth-child(1) {
                        margin-bottom: 8px;
                        font-weight: bold;
                        font-size: var(--main-font-size);
                        color: var(--text-silver);
                        @media (max-width: 700px) {
                            font-size: var(--main-font-size);
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            margin-bottom: 4px;
                            max-width: 100%;
                        }
                    }
                    &:nth-child(2) {
                        font-size: var(--small-font-size);
                        line-height: 140%;
                        color: var(--text-color-silver);
                    }
                }
            }
            &__change {
                padding: 0 25px;
                flex-shrink: 0;
                font-weight: 600;
                height: 45px;
                @media (max-width: 700px) {
                    font-size: 0;
                    width: 38px;
                    height: 38px;
                    padding: 0;
                    background: rgba(71, 166, 138, 0.15);
                    display: flex;
                    align-items: center;
                    border: none;
                    justify-content: center;
                    &:after {
                        content: '';
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        background: url('../svg/settings-icons/pencil.svg') no-repeat center;
                        background-size: 100% 100%;
                    }
                }
            }
        }
    }
    &-sessions {
        &-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            &__title {
                font-weight: 600;
                font-size: 16px;
                line-height: 140%;
                color: var(--text-silver);
            }
            &__count {
                font-weight: 600;
                font-size: var(--main-font-size);
                line-height: 140%;
                text-align: right;
                color: var(--text-color-silver);
            }
        }
        &-list {
            @media (max-width: 700px) {
                padding: 16px 0;
            }
        }
        &__item {
            display: flex;
            align-items: center;
            min-height: 50px;
            padding: 15px;
            justify-content: space-between;
            @media (max-width: 700px) {
                min-height: unset;
                padding: 0 17px;
            }
            +* {
                border-top: 1px solid var(--bg-main);
                @media (max-width: 700px) {
                    border: none;
                    margin-top: 16px;
                }
            }
            >span {
                font-size: var(--main-font-size);
                line-height: 140%;
                color: var(--text-color-silver);
                @media (max-width: 700px) {
                    max-width: calc(100% - 20px);
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin-right: 10px;
                }
                span {
                    color: var(--text-silver);
                }
            }
            >button {
                position: relative;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: -15px -15px -15px 0;
                background: none;
                border: none;
                padding: 0;
                @media (max-width: 700px) {
                    width: 10px;
                    height: 10px;
                    margin: 0;
                }
                &:hover .tooltip,
                &:focus .tooltip {
                    opacity: 1;
                }
                .tooltip {
                    left: auto;
                    right: 0;
                    transform: none;
                    min-width: max-content;
                    bottom: 90%;
                    max-width: calc(100vw - 40px);
                    @media (max-width: 700px) {
                        bottom: calc(100% + 5px);
                    }
                }
                &:after {
                    content: '';
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
                &[data-status=active]:after {
                    background-color: var(--color-green-tow);
                }
                &[data-status=disactive]:after {
                    background-color: var(--bg-red);
                }
            }
        }
    }
}